.leave-dates, .leave-summary, .leave-attendees {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.leave-dates {
    width: 30%;
}

.leave-summary {
    width: 40%;
}

.leave-event {
    font-size: 30px;
}

.leave-attendees {
	width: 30%;
    font-size: 30px;
}

.featured-image {
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}